body{
    background-color: white;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
/* Proprietés du Haid */
.bghead{
    width: 100%;
    height: 150px;
    background-color: black;
    position: absolute;
}
.container{
    width: 75%;
    margin: auto;
    
}
.txt-sxxl{
    font-size:xx-large;
}
.navlink{
    color: rgba(255,255,255,.55);
    display: block;
    padding: 0.5rem 1rem;
    text-decoration:none ;
}
.navlink:hover{
    color: orange;  
}
/* First page Style */
.txt-r{
    text-align: right;
}
h5{
    color: #C0C0C0;
}
.maindiv{
    position:relative;
    background-color: #EEEEEE;
}
.pa{
    color: white;
    text-decoration:none ;
   
}
#lastimgfd{
    background-color: #BFBFBF;
}
.imgbord{
    padding: 0%;
    border: #BFBFBF 10px solid;
    margin-inline: 2px;
}
.cbut{
    border: none;
    width: 100%;
    font-weight: bold;
    text-align: right;
}
#bgld{
    background-color: #EEEEEE;
    padding: 3%;
    
}
/* 3rd pge style */
.titlesdiv{
    position: relative;
    background-color: white;
    color: #777777;
}
.titlesdiv p a{
    color: black;
    text-decoration: none;
}
/* Proprieté du footer */
footer{
    padding: 2%;
}
footer p{
   font-size:medium;
}
footer hr{
    border-top: 2px black dashed;
}
footer a{
    color: orange;
    text-decoration: none;
}
